= _('Laboratory "%s": %d instances')% [lab.name, @active[lab].size]
- lab_div_id = "lab-#{lab.id}"
= link_to_function _('-->'), visual_effect(:toggle_blind, lab_div_id)
%div{:id => lab_div_id, :style => 'display: none'}
  - @active[lab].each do |inst|
    - inst_div_id = "inst-#{lab.id}-#{inst.num}"
    = _('Instance %s: Profile "%s"') % [inst.num, inst.profile.name]
    = link_to_function _('-->'), visual_effect(:toggle_blind, inst_div_id)
    / Actions: power_down, reset, stop, kill, running?, maint?
    %div{:id => inst_div_id, :style => 'display: none'}
      %p= link_to _('Stop instance'), :action => 'stop_instance', :lab_id => lab.id, :inst_num => inst.num
      %p= _('VM PID: %d') % inst.pid
      %p
        %tt= inst.cmdline
