- lab_div_id = "lab-#{lab.id}"
%dt
  Laboratory:
  = link_to lab.name, :controller => 'laboratories', :action => 'edit', :id => lab.id
%dd
  = _('Active instances: %d') % @active[lab].size
  •
  = link_to_function _("Instances' data"), visual_effect(:toggle_blind, lab_div_id)
  %ul.instances
    %div{:id => lab_div_id, :style => 'display: none'}
      - @active[lab].each do |inst|
        %li
          - inst_div_id = "inst-#{lab.id}-#{inst.num}"
          = _('Instance: %s (profile: %s)') % [inst.num, link_to(inst.profile.name, :controller => 'profiles', :action => 'edit', :id => inst.profile.id)]
          = link_to_function _('Show details'), visual_effect(:toggle_blind, inst_div_id)
          %br
            / Actions: power_down, reset, stop, kill, running?, maint?
            = stop_link_for(inst, lab)
            = reset_link_for(inst, lab)
            %div{:id => inst_div_id, :style => 'display: none'}
              %dl.instance-details
                %dt= _('VM PID')
                %dd= inst.pid
                %dt= _('Command line')
                %dd.cmdline= inst.cmdline
