%h1= _('Active instances, by laboratory')
%dl.activelabs
  - @active.keys.sort_by {|lab| lab.id}.each do |lab|
    - next if @active[lab].empty?
    = render(:partial => 'instances_for_lab', :locals => {:lab => lab})

%h3= _('Profiles for which a new instance can be started')
- if @prof_start_ok.empty?
  %p= _('No profiles can currently be started')
- else
  = profiles_per_lab(@prof_start_ok)

- if !@prof_no_start.empty?
  %h3= _('Profiles which cannot be currently started')
  / Include the explanation on why not
  %ul
    - @prof_no_start.each do |prof|
      %li= prof.name
