%h3= _('Client parameters')
- if ! @item.params_complete?
  %p.error
    = _('This terminal is <b>not</b> ready to be used.')
    = _('The following parameters are missing: %s') % @item.missing_params.join(', ')
%p= _('The following parameters are defined:')
%ul
  - params = @item.client_param_hash
  - params.keys.sort.each do |par|
    %li
      %b= par
      = params[par]
%p= link_to _('Edit parameters'), :action => 'edit_params'
